[package]
name = "shared"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true, features = ["derive"] }
bincode = { workspace = true }
glam = { workspace = true }
rand = { workspace = true }
thiserror = { workspace = true }
